/* components/Footer.module.css */
.footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    background-color: #F5f5f5; 
    color: #333; 
    font-family: var(--font-roboto);
    text-align: center; 
    margin-top: 13rem;
    padding-bottom: 2.5rem;
}

.logoContainer {
    margin-bottom: 15px; 
}

.logoImage {
    width: 250px;
    height: 250px; 
}

.addressContainer {
    text-align: center; /* Center align address text */
}

.addressTitle {
    font-size: 1.25rem; /* Title font size */
    margin-bottom: 10px; /* Space below title */
    font-weight: 300;
}

.addressText {
    font-size: 1rem; /* Address text size */
}

/* components/Footer.module.css */
.addressLink {
    color: var(--coral);
    text-decoration: none;
    font-weight: bold;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center the icon and text */
    justify-content: center; /* Horizontally center the entire content */
    gap: 4px;/* Space between the pin icon and the text */
}

.addressLink:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.pinIcon {
    display: inline-block;
}

.footer-qr{
    margin-top: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}
/* Responsive styles */
@media screen and (max-width:1024px) and (min-width: 768px) {
    .footer {
        flex-direction: row; /* Change to row layout on wider screens */
        justify-content: space-around; /* Space elements evenly */
        margin-top: 8rem;
        padding-bottom: 2.5rem;
    }

    .logoContainer {
        margin-bottom: 0; /* No margin on wider screens */
    }

    .addressContainer {
        margin-left: 20px; /* Add margin on wider screens */
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 8rem;
        padding-bottom: 2.5rem;
    }
}